* {
    box-sizing: border-box;
    background-color: #000000;
    color: #ffffff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
}

#result {
    flex: 1 100%;
}

#round-message,
#score {
    text-align: center;
}

#round-message {
    font-size: 1.5em;
    text-transform: capitalize;
}

#score {
    font-size: 3em;
    margin-bottom: 10px;
}

.players {
    display: flex;
    flex-wrap: wrap-reverse;
    flex: 1;
    padding: 10px 25px;
}

.selected-option,
.name,
.available-options {
    display: grid;
    flex: 1 100%;
    padding: 15px 0;
}

.selected-option,
.name {
    justify-content: center;
}

.name {
    font-size: 2.8em;
    color: #ffffff;
    font-weight: 600;
}

.available-options {

    justify-content: space-around;
    border: 1px solid #ffffff;
}

.option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    padding: 50px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #ffffff;
    cursor: pointer;
    overflow: hidden;
    background-color: #ffffff;
}

.option.active {
    border-color: blue;
}

.option:hover>img {
    transform: scale(1.1);
}

.selected-option>.option {
    width: 110px;
    height: 110px;
}

#player2 .option {
    cursor: not-allowed;
    background-color: #ffffff;
}

.reset {
    display: inline-flex;
    flex: 1 100%;
    justify-content: center;
    margin-top: 20px;
}

.reset>span {
    font-size: 1.8em;
    cursor: pointer;
    border: 1px solid red;
    padding: 10px 15px;
    background-color: #f44336;
    box-shadow: 0 0 3px;
    color: #fff;
    transition: all 0.2s ease;